@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #05232c;
  --card: #ffffff;
  --card-foreground: #05232c;
  --popover: #ffffff;
  --popover-foreground: #05232c;
  --primary: #004B5F;
  --primary-foreground: #e9f7fb;
  --secondary: #e6eff1ab;
  --secondary-foreground: #08313c;
  --muted: #e6eff1ab; /*e7eff1*/
  --muted-foreground: #4c6b74;
  --accent: #e6eff1ab;
  --accent-foreground: #08313c;
  --destructive: #c62828;
  --border: #e6eff1;
  --input: #e6eff1;
  --ring: #e6eff1;
  --chart-1: #004B5F;
  --chart-2: #0d9bb4;
  --chart-3: #24c2c0;
  --chart-4: #78e0a4;
  --chart-5: #f2c94c;
  --sidebar: #f4fafc;/*e7eff1*/
  --sidebar-foreground: #05232c;
  --sidebar-primary: #004B5F;
  --sidebar-primary-foreground: #e9f7fb;
  --sidebar-accent: #e6eff1ab;
  --sidebar-accent-foreground: #08313c;
  --sidebar-border: #cde4eb;
  --sidebar-ring: #cde4eb;
}

.dark {
  --background: #041319;
  --foreground: #e9f7fb;
  --card: #09232c67;
  --card-foreground: #e9f7fb;
  --popover: #0c2d36;
  --popover-foreground: #e9f7fb;
  --primary: #b4d4dd;
  --primary-foreground: #03151b;
  --secondary: #123540;
  --secondary-foreground: #e9f7fb;
  --muted: #0f2a34;
  --muted-foreground: #839ea5;
  --accent: #103644;
  --accent-foreground: #e9f7fb;
  --destructive: #f97066;
  --border: rgba(233, 247, 251, 0.15);
  --input: rgba(233, 247, 251, 0.18);
  --ring: #e6eff1;
  --chart-1: #48cfe6;
  --chart-2: #24c2c0;
  --chart-3: #78e0a4;
  --chart-4: #f2c94c;
  --chart-5: #f2994a;
  --sidebar: #0d2229;
  --sidebar-foreground: #e9f7fb;
  --sidebar-primary: #b4d4dd;
  --sidebar-primary-foreground: #03151b;
  --sidebar-accent: #0f2f39;
  --sidebar-accent-foreground: #e9f7fb;
  --sidebar-border: rgba(233, 247, 251, 0.15);
  --sidebar-ring: #e6eff1;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::view-transition-old(root), ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}